# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
R
SQL
Java
Julia
Scala
JavaScript
Swift

Some of the commonly used libraries used by Data Scientists include:
Pandas 
Numppy 
Matplotlib
Seaborn 
Sklearn
Scipy

In [9]:
import pandas as pd

data = {'Data Science Tools':['Jupyter Notebook', 'Spyder', 'PyCharm']}
df = pd.DataFrame(data)
df

  Data Science Tools
0   Jupyter Notebook
1             Spyder
2            PyCharm

Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
1+1

2

In [11]:
1*4

4

In [12]:
454/67

6.776119402985074

This a simple arithmetic expression to mutiply then add integers

In [13]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [15]:
min_ = 200
hr = min_/60
print(hr)

3.3333333333333335

Objectives:
Data Acquisition
Data Modeling
Data Evaluation
Optimization
Data Visualization
Predictive Analytics

## Author

In [ ]:
Chetan Sahu